@import "tailwindcss";


  h1 {
    font-family: var(--font-inter);
  }
  h2 {
    font-family: var(--font-gabarito);
  }
  
  /* Use Gabarito for h3 */
  h3 {
    font-family: var(--font-gabarito);

  }
  
  /* Use IBM Plex Serif for paragraph text */
  p {
    font-family: var(--font-ibm-serif);
    /* font-size: 1rem;
    line-height: 1.6; */
  }
